

.container{
  width: 100%;
  margin: 0 auto;
  margin-top:10px;
}

#map_container{
  position: relative;
}
#mapa{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 10px;
    position: relative;
}